{% extends 'base.html' %}
{% block title %}
 Listagem de clientes
{% endblock  %}
{% block content %}
<h1 class="title" >Listagem de clientes</h1>
<table>
    <thead>
        <tr>
            <th>Nome</th>
            <th>E-mail</th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
        {% for client in clients %}
            <tr>
                <td>
                    <a href="{% url 'detail' client.id %}">{{ client.name }}</a>
                </td>
                <td>{{ client.email }}</td>
                <td>
                    <button><a href="{% url 'update' client.id %}">Editar</a></button>
                    <form action="{% url 'delete' client.id  %}" method="POST">
                        {% comment %} Adicionar o csrf token sempre que o formulário for do método post - que altera os dados {% endcomment %}
                        {% csrf_token %} 
                        <input type="submit" value="Remover"> 
                    </form>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
